#Fonctions {
  /*Set the height of the div, in %, relative to the size of body*/
  height: 30%;
  /*Make text appear in the middle of the div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scanStatus p{
  margin-right: 0px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

#FunctionsTriggerButtons {

  /*Make text appear in the middle of the div */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* Add top margin */


}

#FunctionsTriggerButtons button{
  /*Ajoute round corners*/
  border-radius: 5%;

  /*Shape+padding*/
  position: relative;
  display: inline-block;
  margin-left: 5%;
  margin-top: 10%;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: large;

}

/*Modifie la couleur des bouttons*/
.--action {
  background-color: #739600;
  color: white;
}
.--danger {
  background-color: #ff0000;
  color: white;
}


#config{

  display: flex;

}

#config > div{
  margin: 100px;
}

/*Form Display Vertically+design*/
/* Style inputs */
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #739600;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}

/*Change select field in form*/
:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

select {
  appearance: none;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

/* Les bouttons désactivés ne pourront pas etre clickables */
[disabled]{
  pointer-events: none;
  opacity: .35;
  background-color: gray;
}

#parametres_generaux p{
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #201E1F ;
}

.success{
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  background-color: #45a049;
}

#main-container{
  margin: 100px;
}

#main-container > p{
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #201E1F ;
}
.card {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  margin-bottom: 30px;
}

.w-60 {
  width: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

#newConfButtons{
  display: flex;
  justify-content: center;
  align-items: center;
}

#newConfButtons button{
  /*Ajoute round corners*/
  border-radius: 5%;

  /*Shape+padding*/
  position: relative;
  display: inline-block;
  margin-left: 3%;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  white-space: nowrap;
  cursor: pointer;
  font-family: sans-serif;
  font-size: large;
}
