@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 25px;
}

*{
  margin: 0 ; 
  padding: 0 ; 
  box-sizing: border-box;
}

body{
  position: relative;
  line-height: 1.2em;
  background-color: antiquewhite;
  font-family: 'Roboto', sans-serif;
}

.App{
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  
  .background{
    width:100%;
    min-height: 100vh; 
    background-image: url('./assets/images/earth-heating.jpg');
    position: fixed;
    background-size: cover;
    z-index: -1;
    &::after{
      content: '';
      position: absolute; 
      top:0; left: 0 ; width: 100%; height:100% ;
      background-color: rgba(0, 0, 0, 0.733) ;
      z-index: -1;
    }
  }
}

.container{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.error{
  color: red; 
  font-size:0.6em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@import './styles/pages/form';
@import './styles/pages/home';
@import './styles/pages/notifications'